@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #021703;
    --background: #edfded;
    --primary: #50eda3;
    --secondary: #b9f6f8;
    --accent: #16cad0;
  }
  .dark {
    --text: #e8fde9;
    --background: #021202;
    --primary: #12af66;
    --secondary: #074345;
    --accent: #2fe3e9;
  }
}

circle,
rect,
line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}
